@model BookUpdateVM
@{
    ViewData["Title"] = "Update";
}
@section styles{
    <link href="~/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section scripts{
    <script src="~/Admin/js/demo/datatables-demo.js"></script>
}
@if (TempData["BookRenovationResponse"] != null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if ((bool)TempData["BookRenovationResponse"] == true)
    {
        <script>
            Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Melumat ugurla yenilendi",
                showConfirmButton: false,
                timer: 1500
            });
        </script>
    }
    else
    {
        <script>
            Swal.fire({
                position: "top-end",
                icon: "error",
                title: "Xeta",
                showConfirmButton: false,
                timer: 1500
            });
        </script>
    }
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Update Book</h6>
    </div>
    <div class="card-body">
        <form asp-action="Update" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About"></label>
                <textarea asp-for="About" class="form-control"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExTax"></label>
                <input asp-for="ExTax" class="form-control">
                <span asp-validation-for="ExTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" class="form-control">
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookCode"></label>
                <input asp-for="BookCode" class="form-control">
                <span asp-validation-for="BookCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RewardPoints"></label>
                <input asp-for="RewardPoints" class="form-control">
                <span asp-validation-for="RewardPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avability"></label>
                <input asp-for="Avability" class="form-control">
                <span asp-validation-for="Avability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellPrice"></label>
                <input asp-for="SellPrice" class="form-control">
                <span asp-validation-for="SellPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPrice"></label>
                <input asp-for="CostPrice" class="form-control">
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount"></label>
                <input asp-for="Discount" class="form-control">
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control">
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select class="select-item" asp-for="CategoryId" asp-items='@new SelectList(ViewBag.Categories, "Id", "Name")' class="form-control">
                    <option disabled selected>Select Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <button class="btn btn-success">Submit!</button>
        </form>
    </div>
</div>
